@import '../../../../../../../styles/colors';
@import '../../../../../../../styles/media-sizes';

.Container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(98vh - 13vh - 13vh);

  .Form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 700px;
    height: 67vh;
    border: 1px solid $black;
    box-shadow: 0px 7px 20px $light-gray;
    background-color: $white;

    &:hover{
      cursor: pointer;
    }

    &_label{
      width: 300px;
      border-bottom: 1px solid $brown;
      text-align: center;
    }

    &_author_description{
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-around;
      width: 100%;

      &_main_info{
        padding-top: 40px;
        text-align: end;
        font-weight: 600;
      }

      img{
        height: 50vh;
        width: fit-content;
        border-radius: 10px;
        box-shadow: 0px 7px 20px $light-gray;
      }
    }
  }

}