@import '../../../../../styles/font-sizes';
@import '../../../../../styles/colors';
.Container{
    background-color: $white;

    .bg-white {
        --bs-bg-opacity: 1;
        background-color: $white;
    }
    &_beginBox{
        text-align: center;
        font-size: $font-size-xlarge-32;
        font-weight: 800;
        width: 15%;
        letter-spacing: -0.12em;
    }

    &_endBox{
        padding-right: 5%;
        display: flex;
        justify-content: right;       
        font-size: $font-size-xmedium-18;
        width: 85%;
        .SwitchButton{
            margin-right: 3%;
        }
    }
}

.Toggle{
    
    background-color: $white;
    color: $brown;

    .navbar-toggler-icon{
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        vertical-align: middle;
        background-image: var(--bs-navbar-toggler-icon-bg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
    }

    .navbar-toggler{
        background-color: red;
        :focus{
        text-decoration: none;
        outline: 0;
        }
        :hover{
            cursor: pointer;
        }    
        :focus{
            color: $brown;
            box-shadow: none;
        }
     }
}

.List {
    text-align: center;
    font-size: $font-size-xmedium-18;
    :visited, :hover{
        text-underline-offset: 4px;
        text-decoration-color: $brown;
        text-decoration: underline 1.8px solid $brown;
    }
}

.SearchButton{

    button.btn {
        --bs-btn-color: $brown;
        --bs-btn-padding-x: 0.75rem;
        --bs-btn-padding-y: 0.375rem;
        --bs-btn-font-family: ;
        --bs-btn-font-size: 1rem;
        --bs-btn-font-weight: 400;
        --bs-btn-line-height: 1.5;
        --bs-btn-color: #212529;
        --bs-btn-bg: transparent;
        --bs-btn-border-width: 1px;
        --bs-btn-border-color: transparent;
        --bs-btn-border-radius: 0.375rem;
        --bs-btn-hover-border-color: transparent;
        --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),0 1px 1px rgba(0, 0, 0, 0.075);
        --bs-btn-disabled-opacity: 0.65;
        --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
        display: inline-block;
        padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
        font-family: var(--bs-btn-font-family);
        font-size: var(--bs-btn-font-size);
        font-weight: var(--bs-btn-font-weight);
        line-height: var(--bs-btn-line-height);
        color: $brown;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        cursor: pointer;
        -webkit-user-select: none;
        user-select: none;
        border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
        border-radius: var(--bs-btn-border-radius);
        background-color: var(--bs-btn-bg);
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        :hover {
            color: $white;
            background-color: $brown;
            border-color: $brown;
        }
        .btn-outline-success {
        --bs-btn-border-color: $brown;
        --bs-btn-hover-color: #fff;
        --bs-btn-hover-bg: #$brown;
        --bs-btn-hover-border-color: $brown;
        --bs-btn-focus-shadow-rgb: 25,135,84;
        --bs-btn-active-color: #fff;
        --bs-btn-active-bg: $brown;
        --bs-btn-active-border-color: $brown;
        --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        --bs-btn-disabled-color: $brown;
        --bs-btn-disabled-bg: transparent;
        --bs-btn-disabled-border-color: $brown;
        --bs-gradient: none;
        }
    }
}