@import '../../../../styles/colors';
@import '../../../../styles/media-sizes';


.Container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin-left: 20vw;

  &_Authors_label {
    margin-left: -5vw;

    @media screen and (max-width: $lg-size) {
      margin: 0;
    }
  }

  @media screen and (max-width: $lg-size) {
    margin: 0;
  }
}