@import '../../../../styles/colors';

.Container {
  display: flex;
  flex-direction: column;
  align-items: center;

  &_author_name {
    text-align: center;
    border-bottom: 1px solid $brown;
  }

  &_author_pic {
    img {
      width: 100%;
    }
  }

  &_years_of_life {
    text-align: center;
    margin-top: 10px;
  }

}